{% extends 'base.html' %}

{% block contend %}

    <div class="container">

        <form method="POST" action="">
            {{ form.csrf_token }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Name or Ticker company</legend>
                <div class="form-group">

                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>


{% endblock %}