<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Algorimic trading info</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Basics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stock board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('hd.hisdata')}}">Historic infomation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>