{% extends 'base.html' %}

{% block contend %}

    <div class="container-md gy-5">

        <div class="row gy-5">
            <div class="col-sm">
                <div class="formwrapper">
                    <h2 class="title">Company Info</h2>
                    <form method="POST" action="/">
                        <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
                        {{ form.submit }}
                    </form>
                </div>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary">2</button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary">3</button>
            </div>
        </div>

    </div>

{% endblock %}